.PEDRO {

    padding-top: 0px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    background-color: #e31111;
    line-height: 2;
    

}
.PEDRO{
    border: 2px solid #fff6f6;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    animation: cambio-color 5s infinite;
    white-space: nowrap;
    overflow: hidden;
   
    animation: cambio-color 5s linear infinite alternate, escribiendo 5s steps(30) forwards;
    overflow: hidden;
    white-space: nowrap;

    
}


  @keyframes animacion-fondo {
    0% { background-color: #00bfff; }
    50% { background-color: #1e90ff; }
    100% { background-color: #00bfff; }
  }
  .fondo-animado {
    background: linear-gradient(to right, #00bfff, #e31111);
    animation: animacion-fondo 5s ease-in-out infinite;
  }

  body {
    background: linear-gradient(to right, #00bfff, #ff471e);
    animation: animacion-fondo 5s ease-in-out infinite;
  }


  @keyframes animacion-fondo {
    0% { background-color: #00bfff; }
    50% { background-color: #ff471e; }
    100% { background-color: #d1f311d6; }

  }


  @keyframes cambio-color {
    0% { background-color: rgb(255, 0, 0); } /* Rojo */
    25% { background-color: rgb(255, 255, 0); } /* Amarillo */
    50% { background-color: rgb(0, 255, 0); } /* Verde */
    75% { background-color: rgb(0, 255, 255); } /* Cyan */
    99% { background-color: rgb(0, 0, 255); } /* Azul */
  }



  @keyframes escribiendo {
    from {
      width: 0;
    }
    to {
      width: 98%;
    }
  }

.referencia{
    font-size: 2rem;
    text-decoration: none;
    color: #333;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f7f7f7;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    width: 500px;
    

    top: 20rem;
    left: 50%;
    right: 80%;
    transform: translate(90%, -0%);
    
    


}

  
 